<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{ session['username'] }} - TVtracker</title>
  <script>
    document.write("<div id='loading' style='z-index:1035;padding:5px 0 5px 9px;background:#c44;left:0;top:0;width:90px;color:#fff;position:fixed;'>正在加载...</div>")
    setTimeout("document.getElementById('loading').innerHTML = '加载失败，网络错误！';", 3000)
  </script>
  <style type="text/css">
    .navbar-header {
      padding-left: 100px;
      min-width: 300px;
    }
    #PAGE {
      padding-top: 55px;
    }
  </style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">TVtracker</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_list">
          <span class="sr-only">菜单项</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu_list">
        <ul class="nav navbar-nav">
          <li id="menu_list_hp">
            <a href="{{ url_for('homePage') }}"><span class="glyphicon glyphicon-home"></span> 主页</a>
          </li>
          <li id="menu_list_sp">
            <a href="{{ url_for('squarePage') }}"><span class="glyphicon glyphicon-send"></span> 广场</a>
          </li>
          <li id="menu_list_tp">
            <a href="{{ url_for('talkPage') }}"><span class="glyphicon glyphicon-list-alt"></span> 吐槽</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <form style="padding: 0;" class="navbar-form" role="search">
              <div class="form-group">
                <input type="text" id="searchHint" data-toggle="dropdown" class="form-control dropdown-toggle" placeholder="Search" onkeyup="hintTVandUser(this.value)" aria-haspopup="true" aria-expanded="false" AUTOCOMPLETE="OFF">
                <ul class="dropdown-menu" role="menu" id="searchContent" aria-labelledby="searchHint">
                  <li role='presentation' class='dropdown-header' align='center'><big>用户名or剧集</big></li>
                </ul>
              </div>
            </form>
          </li>
          <li class="dropdown">
            <a href="#" onclick="$('#newMsg').popover('destroy');" class="dropdown-toggle" data-toggle="dropdown"><span  data-toggle="popover" data-placement="bottom" data-trigger="manual" title="新消息！" data-content="你收到了新消息~" id="newMsg"> 个人账号：{{ session['username'] }}</span><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="newMsg">
              <li data-toggle="modal" data-target="#notifi"><a href="#"><span class="glyphicon glyphicon-bell"></span> 个人通知 <span class="badge" id="notifiBadge">{{ user['noticenum'] }}</span></a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-off"></span> 退出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2" id="PAGE">
      {% block body %}{% endblock %}
    </div>
  </div>

  <footer>
    
  </footer>
  </body>
  <script type="text/javascript">
    function hintTVandUser (str) {
      if(str.length == 0) {
        $("#searchContent").html("<li role='presentation' class='dropdown-header' align='center'><big>用户名or剧集</big></li>");
        return;
      }
      $.get("{{ url_for('hint') }}?str="+str, function(result) {
        var tmp1 = "<li role='presentation' class='dropdown-header' align='center'><big>【用户】</big></li>"
        var S1 = tmp1;
        var tmp2 = "<li class='divider'></li><li role='presentation' class='dropdown-header' align='center'><big>【剧集】</big></li>"
        var S2 = tmp2;
        for (i in result["user"]) {
          S1 = S1 + "<li role='presentation'><a role='menuitem' tabindex='-1' href='{{ url_for('viewUser') }}?user=" + result["user"][i]["username"] + "'><span class='glyphicon glyphicon-user'></span>&nbsp;&nbsp;&nbsp;" + result["user"][i]["username"] + "</a></li>";
        }
        for (i in result["tv"]) {
          S2 = S2 + "<li role='presentation'><a role='menuitem' tabindex='-1' href='{{ url_for('addTV') }}?tv=" + result["tv"][i]["name"] + "'><span class='glyphicon glyphicon-plus'></span>&nbsp;&nbsp;&nbsp;" + result["tv"][i]["name"] + "</li>";
        }
        if (S1 == tmp1)
          S1 = S1 + "<li role='presentation' class='dropdown-header'>未找到该用户</a></li>";
        if (S2 == tmp2)
          S2 = S2 + "<li role='presentation' class='dropdown-header'>未收录该剧集</a></li>";
        $("#searchContent").html(S1 + S2);
      });
    }
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        $("li.menu_list_items").click(function() {
          $("li.menu_list_items").removeClass("active");
          $(this).addClass("active");
          $("#menu_list").removeClass("in");
        });
    });
  </script>
  <script>
    $(document).ready(
      function(){
        document.getElementById('loading').innerHTML = "加载完成！";
        setTimeout("$('#loading').slideToggle();", 1000);
    });
    $(function(){
      var num = {{ user.noticenum }};
      setInterval(function() {
        $.get("{{ url_for('refresh') }}", function(result) {
          if (result["num"] > num) {
            num = result["num"];
            $('#newMsg').popover('show');
            $('#notifiBadge').html(num);
          };
        });
      }, 300000); 
      // 300秒等待
    }); 
  </script>
</html>