{% extends "dashboard.html" %}
{% block body %}
  <style type="text/css">
    .yuan {
      cursor:pointer; 
    }
    .poster {
      max-width: 150px;
    }
  </style>
  <div class="page-header">
    {% if user.username != session.username %}
      <h1><b>{{ user.username }}的主页</b> <small>>>> BirdView of Yourself.</small></h1>
      {% else %}
      <h1><b>我的主页</b> <small>>>> BirdView of Yourself.</small></h1>
    {% endif %}
  </div>

  {% if not tracking %}
    <div class="jumbotron" background="black">
      <h3 align="center">你没有添加任何剧集，快到上方的搜索栏添加吧！</h3>
    </div>
    {% else %}
    {% for i, j, p in zipped %}
        {% if i.end != 0 %}
          <div class="panel panel-primary">
        {% else %}
          <div class="panel panel-warning">
        {% endif %}
          <div class="panel-heading">
            <big><b>{{ i.tvname }}</b></big>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><a href="{{ url_for('removeTV') }}?tv={{ i.tvname }}">&times;</a></span><span class="sr-only">关闭</span></button>
          </div>
          <div class="panel-body btn-group">
            <img class="poster" src="{{ p.imgsrc }}">
            <br />
            {% for k in j %}
              {% if k.episode > i.epnum %}
              <a class="btn btn-success btn-lg ep {{ p.id }} {{ k.type }}" href="{{ k.address }}" onclick="$.get('{{ url_for('updateTV') }}?tv={{ i.tvname }}&ep={{ k.episode }}')" target="_blank">{{ k.episode }}</a>
              {% else %}
              <a class="btn btn-warning btn-lg ep {{ p.id }} {{ k.type }}" href="{{ k.address }}" onclick="$.get('{{ url_for('updateTV') }}?tv={{ i.tvname }}&ep={{ k.episode }}')" target="_blank">{{ k.episode }}</a>
              {% endif %}
            {% endfor %}
          </div>
          <div class="panel-footer">
            {% if i.epnum == 0 %}
              <small>您还没有观看过本剧集！</small>
            {% else %}
              <small>您已追至第 {{ i.epnum }} 集。</small>
            {% endif %}
            <div class="pull-right">
              <span class="btn btn-xs yuan {{ p.id }} youku active" onclick="switchYuan('{{ p.id }}', 'youku')"><img src="{{ url_for('static', filename='youku.png') }}"></span>
              <span class="btn btn-xs yuan {{ p.id }} vqq" onclick="switchYuan('{{ p.id }}', 'vqq')"><img src="{{ url_for('static', filename='vqq.png') }}"></span>
              <span class="btn btn-xs yuan {{ p.id }} sohu" onclick="switchYuan('{{ p.id }}', 'sohu')"><img src="{{ url_for('static', filename='sohu.png') }}"></span>
              <span class="btn btn-xs yuan {{ p.id }} tudou" onclick="switchYuan('{{ p.id }}', 'tudou')"><img src="{{ url_for('static', filename='tudou.png') }}"></span>
              <span class="btn btn-xs yuan {{ p.id }} iqiyi" onclick="switchYuan('{{ p.id }}', 'iqiyi')"><img src="{{ url_for('static', filename='iqiyi.png') }}"></span>
            </div>
          </div>
        </div>
    {% endfor %}
  {% endif %}

  <script>
    function switchYuan(tvname, yuan)
    {
        $('a.ep.'+tvname).hide();
        $('a.ep.'+tvname+'.'+yuan).show();
        $('span.yuan.'+tvname).removeClass('active');
        $('span.yuan.'+tvname+'.'+yuan).addClass('active');
    }
  </script>

  <script type="text/javascript">
    $('li#menu_list_hp').addClass("active");
    $('a.ep').hide();
    $('a.ep.youku').fadeIn();
  </script>
{% endblock %}