{% extends "dashboard.html" %}
{% block body %}
    <style type="text/css">
        .box {
            width: 200px;
            margin:5px;
            padding:5px;
            float: left;
        }
        .poster {
            max-width: 200px;
        }
        div.is-loading {
          background-color: black;
          background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
        }
    </style>
    <div class="page-header">
        <h1><b>广场</b> <small>>>> Find fantasy latest.</small></h1>
    </div>
    <div id="masonry">
    {% for i, j in tv %}
        <div class="box">
            <img class="poster" src="{{ j }}">
            《{{ i.name }}》<a class="btn btn-default btn-xs" href="{{ i.address }}" target="_blank">第{{ i.episode }}集</a>
        </div>
    {% endfor %}
    </div>

    <script type="text/javascript">
    $('li#menu_list_sp').addClass("active");
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='masonry.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='imagesloaded.min.js') }}"></script>
    <script>
    $(function(){
        var $container = $('#masonry');
        $container.imagesLoaded( function(){
            $container.masonry({
                itemSelector : '.box',
                isAnimated: true,
                });
            });
        });
    </script>
{% endblock %}